# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.xcodeproj/project.xcworkspace
*.xcodeproj/project.xcuserstate

# Build
build/
DerivedData/

# Swift Package Manager
/.build/
/Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# SwiftPM
.swiftpm/

# IDE specific
.idea/
.vscode/

# Archives
*.xcarchive

# Other
*.log
*.swp
